@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');



body {
    background-color: #82d9dd;
    background-image: url('img/bflower3.jpg');
    background-position:center 280px, left top;
    background-repeat: repeat;
    background-size:2000px, auto;
    font-family: 'Playfair Display', serif;
}




#nav {
    background-color: rgb(161, 129, 188);
    border-bottom: 2px dashed rgb(0, 0, 0);
    color: white;
    font-weight:bold;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;


}






.links {
    color: black;
    font-size: 15px;
    text-decoration: double;
}




.banner {
    background-color: #82d9dd;
    padding: 0px 0;
    text-align: center;
    padding-bottom: 0;
    }


.banner img {
    max-width: auto;
    width: 100%;
}


   
#about {
    background-color: rgba(161, 129, 188, 0.861);
    color: white;
    margin-top: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    max-width: 2000px;
    width:100%;
    font-size: 15px;
    height:500px;
    border-top: 2px dashed rgb(0, 0, 0);
    border-bottom: 2px dashed rgb(0, 0, 0);
}

#Animals {
    background-color: rgba(205,240,225,0.9);
    color: black;
    margin-top: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    max-width: 2000px;
    width:100%;
    font-size: 15px;
    height:200px;
}


.Animals {
    background-color: rgba(205,240,225,0.9);
    color: black;
}


#milo {
    background-color: rgba(205,240,225,0.9);
    color: black;
    margin-top: auto;
    padding-bottom: 40px;
    padding-top: 20px;
    max-width: 2000px;
    width:100%;
    font-size: 15px;
    height:100px;
}


.milo {
    background-color: rgba(205,240,225,0.9);
    color: black;
}




#nature {
    background-color:#ffbabbda;
    color: black;
    margin: auto;
    padding-top:auto;
    height: 150px;
}


.nature {
    background-color: #ffbabbda;
    color: black;
}

#plant {
    background-color: #ffbabbda;
    color: black;
    padding-bottom: 40px;
    padding-top: 20px;
    max-width: 2000px;
    width:100%;
    font-size: 15px;
    height:100px;
    margin: auto;
}


.plant {
    background-color: #ffbabbda;
    color: black;
}

#mount {
    background-color: #ffbabbda;
    color:black;
    padding-bottom: 40px;
    padding-top: 20px;
    max-width: 2000px;
    width:100%;
    font-size: 15px;
    height:100px;
    margin: auto;
}


.mount {
    background-color: #ffbabbda;
    color: black;
}

#snow {
    background-color: #008c9ed2;
    color: black;
    margin-top:auto;
    padding-top:auto;
    text-align:left;
    height: 170px;
    font-weight: bold;
    margin-right: auto;
}


.snow {
    background-color: #008c9ed2;
    color: black;
}




#sun {
    background-color: #cc6c9ec4;
    color: black;
    margin-top:auto;
    padding-top:auto;
    height: 150px;
    font-weight: bold;
    text-align:left;
    margin-right: auto;
}


.sun {
    background-color:  #cc6c9ec4;
    color: black;
}




#other {
    background-color: #4ebdccd3;
    color: black;
    padding-bottom: 40px;
    padding-top: auto;
    height:100px;
    text-align: left;
}


.other {
    background-color: #4ebdccd3;
    color:black;
}


h1 {
    font-size: 3em;
    text-align:left;
}




p {
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}




h2 {
    font-size: 1.5em;
    text-align: left;
    text-decoration: underline;
}




hr {
    border-style:dashed;
   border-spacing: 20em;
}

.footer {
    background-color: rgb(161, 129, 188);
    border-top: 2px dashed rgb(0, 0, 0);
    color: white;

}

.text {
    font-weight:bold;
    padding: 20px 0;
    text-align:center;
    font-size: 20px;
    height:30px;

}


